[run]
source = ./

# Omit files from coverage that only run on prod
omit =
    fabfile.py
    perdiem/gunicorn.py
    perdiem/settings/__init__.py
    perdiem/wsgi.py

[report]
exclude_lines =
    # Ignore pass (often used in abstract methods)
    pass
