requests==2.18.4
Fabric==1.14.0
factory-boy==2.9.2
django-pigeon==0.2.0
mock==2.0.0
coverage==4.4.2
gunicorn==19.7.1
Django==1.11.9
python-memcached==1.59
psycopg2==2.7.3.2
whitenoise==3.3.1
djangorestframework==3.7.7
social-auth-app-django==2.1.0
Pillow==5.0.0
django-classbasedsettings==1.5.0
raven==6.4.0
boto==2.48.0
django-storages==1.6.5
django-ses==0.8.5
geopy==1.11.0
pinax-stripe==4.0.0
django-templated-email==2.2
django-markdown-deux==1.0.5
django-pagedown==1.0.4
django-gfklookupwidget==1.0.6
-e git://github.com/mariocesar/sorl-thumbnail.git@7e61948e7a987714097ba50a54120f584db9c843#egg=sorl-thumbnail
