{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/artist/artist_preview.css" %}" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    <h1>Profile</h1>
    <h2 class="profile-header">Welcome, {% firstof user.get_full_name user.get_username %}!</h2>
    {% if user.userprofile.invest_anonymously %}<p><small>(displays publicly as Anonymous)</small></p>{% endif %}
    <div class="break">
        <hr>
    </div>
    {% if artists %}
        <div class="investments">
            <h2>Portfolio</h2>
            <p>Here are the artists that you have invested in:</p>
            <div class="row small-up-1 medium-up-2 large-up-4 artistlist">
                {% for artist in artists.values %}
                    <div class="column">
                        {% include "artist/includes/artist_preview.html" with artist=artist %}
                        <p>Total invested: ${{ artist.total_invested|floatformat:2|intcomma }}</p>
                        {% if artist.total_earned %}
                            <p>Total earned: ${{ artist.total_earned|floatformat:2|intcomma }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="break">
                <hr>
            </div>

            {% if total_earned %}
                <p class="profile-total">Total earned: ${{ total_earned|floatformat:2|intcomma }}</p>
            {% else %}
                <p class="profile-total">Your money is going towards making some sweet music!</p>
            {% endif %}
            <p>Total invested: ${{ total_investments|floatformat:2|intcomma }}</p>
            {% if updates %}
                <div class="break">
                    <hr>
                </div>
                <!-- Updates -->
                <h2>Updates</h2>
                {% include "artist/includes/artist_updates.html" with updates=updates show_artist_name=True %}
            {% endif %}
        </div>
    {% else %}
        <p>You haven't invested in anything yet!</p>
    {% endif %}
{% endblock %}
