{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/artist/artist_preview.css" %}" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    <div class="center">
        <br/><img class="public-profile-crop" src="{{ profile_user.userprofile.display_avatar_url }}" alt="Profile" />
        <h3 class="public-profile-name">{{ profile_user.userprofile.get_display_name }}</h3>
    </div>

    <div>
        <h2 id="percentage"></h2>
        <h4 style="color: #4cbd7e;""><i class="fa fa-arrow-up" aria-hidden="true"></i>${{ total_earned|floatformat:2|intcomma }} | <span style="color: #4d96ad">${{ total_investments|floatformat:2|intcomma }}</span></h4>
    </div>

    <div class="break">
        <hr>
    </div>
    {% if user.is_authenticated %}

    {% if artists %}
        <div class="investments">
            <h3>PORTFOLIO</h3>
            {% include "artist/includes/investor_profile_artist_list.html" with artists=artists %}
        </div>
        <div class="break">
            <hr>
        </div>

    {% else %}
        <p>{{ profile_user.userprofile.get_display_name }} hasn't invested in anything yet!</p>
    {% endif %}

    {% else %}
        <p>Login to view profile</p>
    {% endif %}

    <script>
    var x = {{ total_earned|floatformat:2|intcomma }};
    var y = {{ total_investments|floatformat:2|intcomma }};
    var z = x / y * 100;
    document.getElementById("percentage").innerHTML = z.toFixed(2) + ' %';
    </script>


{% endblock %}
