{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="register-page" class="page">
        <h2 class="extra-padding">Register</h2>
        <div class="break">
            <hr>
        </div>
        <div class="register-buttons">
            <p class="register-copy">
                Sign up with one click using Facebook
            </p>
            <div class="button-container">
                <a class="facebook-font" href="{% url 'social:begin' backend='facebook-register' %}">
                <div class="sign-up-button facebook">
                    <h5 class="button-font"><i class="fa fa-facebook button-icon-padding" aria-hidden="true"></i>Sign Up with Facebook</h5>
                </div>
                </a>
            </div>
            <div class="button-container">
                <a class="google-font" href="{% url 'social:begin' backend='google-oauth2-register' %}">
                <div class="sign-up-button google">
                    <h5 class="button-font"><i class="fa fa-google button-icon-padding" aria-hidden="true"></i>Sign Up with Google</h5>
                </div>
                </a>
            </div>

            <div class="button-container">
                <a class="manual-font" data-open="signup-modal">
                <div class="sign-up-button manually">
                    <h5 class="button-font"><i class="fa fa-envelope button-icon-padding" aria-hidden="true"></i>Sign Up with e-mail</h5>
                </div>
                </a>
            </div>
            <div class="reveal center" id="signup-modal" data-reveal>
                <form action="" method="POST">
                    {% csrf_token %}
                    <p class="color-grey">
                        Please use all lowercase, no spaces, no special characters
                    </p>
                    {{ form.as_p }}
                    <input class="button submit-button" type="submit" value="Register" />
                </form>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
