{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h2 class="extra-padding">Register</h2>
    <div class="break">
        <hr>
    </div>
    <div class="center">
        <p>Sign up with one click using Facebook or Google</p>
        <a href="{% url 'social:begin' backend='facebook-register' %}"><img class="oauth-icon" src="{% static "img/facebook-signup.png" %}" alt="Register with Facebook" /></a><br/>
        <a href="{% url 'social:begin' backend='google-oauth2-register' %}"><img class="oauth-icon" src="{% static "img/google-signup.png" %}" alt="Register with Google" /></a>
    </div>
    <div class="form-input">
        <p>or create an account the old-fashioned way</p>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button submit-button" type="submit" value="Register" />
        </form>
    </div>
{% endblock %}
