{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="register-page" class="page">
        <h2 class="extra-padding">Sign Up</h2>
        <div class="break">
            <hr>
        </div>
        <div class="center signup-form">
            <a href="{% url 'social:begin' backend='facebook-register' %}"><img class="oauth-icon" src="{% static "img/facebook-signup.png" %}" alt="Register with Facebook" /></a><br/>
            <a href="{% url 'social:begin' backend='google-oauth2-register' %}"><img class="oauth-icon" src="{% static "img/google-signup.png" %}" alt="Register with Google" /></a>
            <div class="form-input sign-up">
                <h5><a class="signup-manual" data-open="signup-modal">Sign Up Manually</a></h5>
            </div>
            <p class="register-copy">We will never share your information</p>
        </div>
        <div class="reveal center" id="signup-modal" data-reveal>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            <input class="button submit-button" type="submit" value="Register" />
            </form>
            <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
{% endblock %}
