{% extends "base.html" %}

{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/extra/charts.css" %}" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    <h2>TOP CHARTS</h2>
    {% if total_earned or revenue_generated %}
        <div class="break">
            <hr>
        </div>
        <div class="center">
            {% include "leaderboard/includes/list.html" with name='Total Earned' leaders=total_earned %}
            {% include "leaderboard/includes/list.html" with name='Revenue Generated' leaders=revenue_generated %}
        </div>
    {% endif %}
{% endblock %}
