{% extends "base.html" %}

{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/extra/charts.css" %}" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    <h2>Charts</h2>
    <div class="break">
        <hr>
    </div>
    <div class="center">
        {% include "leaderboard/includes/list.html" with name='Top Raised' leaders=top_raised %}
        {% include "leaderboard/includes/list.html" with name='Top Invested' leaders=top_invested %}
        {% include "leaderboard/includes/list.html" with name='Top Earned Artists' leaders=top_earned_artists %}
        {% include "leaderboard/includes/list.html" with name='Top Earned Investors' leaders=top_earned_investors %}
    </div>
{% endblock %}
