{% load staticfiles %}
{% load thumbnail %}
{% load markdown_deux_tags %}

<div class="tabs-panel is-active" id="music-overview">
    <div class="project-image">
        {% thumbnail album.artwork.img "250x250" as thumb %}
            <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ album.name }}" />
        {% endthumbnail %}
    </div>

    <div class="marketplace-container">
        {% for marketplace_url in album.marketplaceurl_set.all %}
            <a href="{{ marketplace_url.url }}" target="_blank">
        {% with "img/marketplace/"|add:marketplace_url.medium|add:".svg" as medium_image %}
            <img class="marketplace-icons" src="{% static medium_image %}" alt="{{ marketplace_url.get_medium_display }}" />
        {% endwith %}
            </a>
        {% endfor %}
    </div>

    {% if album.release_date %}
        <div class="break-small">
            <hr>
        </div>
        <h5>{{ album.release_date }}</h5>
    {% endif %}

    {% if album.albumbio %}
        <div class="album-bio">
            <p>{{ album.albumbio.bio|markdown }}</p>
        </div>
        <div class="break-small">
            <hr>
        </div>
    {% endif %}

    {% if user_is_investor %}
        <div class="download-container">
            <a href="{{ album.audio.get_temporary_url }}" download>
            <img class="marketplace-icons" src="{% static "img/investor.svg" %}"/>
            </a>
        </div>
    {% else %}
        <h5>This is an exclusive project. You must be an investor in order to listen and download</h5>
    {% endif %}
</div>
