.home-page {
    min-height: 80vh;
}

h2.name-header {
    padding-top: 40px;
    text-align: center;
    font-size: 25px;
}

.footer-position {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.social-icon-home {
    margin: 0px;
    padding: 0px;
}
