.home-page {
    min-height: 80vh;
}

h2.name-header {
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
}

.footer-position {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.social-icon-home {
    margin: 0px;
    padding: 0px;
}
