h1, h2, h3, h4, h5, h6, p, li, input [type=submit] {
    font-family: Dosis, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

h4 [type=submit] {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 6em;
    color: #000;
    font-weight: 200;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 4em;
    color: #285e6f;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    font-size: 3em;
    color: #000;
    font-weight: 200;
    text-transform: uppercase;
}

h4 {
    text-align: center;
    font-weight: 200;
    font-size: 1.5em;
    text-transform: uppercase;
}

h5 {
    font-weight: 200;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
}

h6 {
    font-size: .9em;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-left: 0;
}

p {
    font-size: .8em;
    font-weight: 200;
    color: #000;
    text-align: center;
    font-family: Roboto;
}

a {
    color: #4A96AD;
    text-decoration: none;
}

a:hover {
    color: #80b3ff;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.full-page {
    min-height: 100%;
    position: relative;
    background: #fff;
}

.nav {
    background-color: black !important;
    padding: 0px;
}

.nav-small {
    background-color: black;
    padding: 10px;
    margin: 0;
    text-align: left;
}

.nav > li {
    display: inline;
    float: left;
    padding: 8px 8px;
}

.nav-right > li {
    display: inline;
    float: right;
    padding: 8px 8px;
}

.nav a {
    display: block;
    color: #4d96ad;
    padding: 5px 5px;
    text-decoration: none;
}

.reveal {
    background-color: #000;
}

canvas {
    max-width: 800px;
    max-height: 640px;
}

#canvas-box {
    text-align: center;
}

#bar-canvas {
    text-align: center;
}

#canvas-holder {
    width:30%;
    padding: 0;
    margin: auto;
}

.footer {
    width: 100%;
    padding: 20px;
    background-color: #000;
    text-align: center;
}

.footer a {
    color: #85929E;
    font-family: Roboto;
    font-size: .6em;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.footer a:hover {
    color: #fff;
}

.footer-items > li {
    display: inline;
    float: center;
}

.footer-items a {
    padding: 5px 5px;
    text-decoration: none;
}

img.img-404 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2.profile-header {
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

p.profile-total {
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Dosis, sans-serif;
}

h5.profile-total-header {
    text-align: center;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

h5.profile-total {
    text-align: center;
    font-size: 25px;
    padding: 0px;
    font-weight: 400;
}

.break {
    padding-left: 5%;
    padding-right: 5%;
}

.page-padding {
    padding: 2em;
}

.apply-button {
    text-align: center;
}

a.nav-color {
    color: #000;
}

.extra-padding {
    padding: 20px;
}

.more-extra-padding {
    padding: 40px;
}

.social-icons > li {
    color: #fff;
    padding: 5px 5px;
    text-decoration: none;
    display: inline;
    float: center;
}

.register-box {
    padding: 2em;
    text-align: center;
}

.white-color {
    color: #fff;
}

.green-color {
    color: #4cbd7e !important;
}

.profile-crop {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.profile-crop-list {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin: 5px;
}

.nav-settings {
    padding: 0px;
}

.nav-settings > li {
    display: inline;
    float: center;
}

.public-profile-name {
    padding: 5px;
    font-weight: 400;
    color: #285e6f;
}

.public-profile-crop {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    text-align: center;
    margin: 10px;
}

.center {
    text-align: center;
}

.canvas-profile {
    text-align: center;
    padding: 3em;
}

.profile-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.oauth-icon {
    text-align: center;
    height: auto;
    width: 250px;
    padding: 5px;
}

.center {
    text-align: center;
}

.login-module {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

#login-modal label {
    color: #fff;
}

.signup-module {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

#signup-modal label {
    color: #fff;
}

form > input[type=submit] {
    display: block;
    margin: 0 auto;
}

ul.tabs {
    text-align: center;
}

ul.tabs li {
    float: none;
    display: inline-block;
}

.submit-button {
    width: 100px;
}

.form-input {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.large-form-input {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.small-form-input {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.tabs-title {
    background-color: #333333;
    margin: 2px;
    width: 150px;
    height: 50px;
}

.project-image {
    text-align: center;
    padding: 20px;
}

.download-container {
    text-align: center;
    padding: 20px;
}

.download-button {
    text-align: center;
    background-color: #4A96AD;
    width: 150px;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
}

.home-logo {
    height: 35px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.home-logo-mobile {
    height: 35px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    float: left;
}

a.home-logo {
    margin: 0px;
    padding: 0px;
}

li.home-logo {
    margin: 0px;
    padding: 0px;
}

.album-bio {
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 600px;
}

.album-bio > ol {
    text-align: center;
    list-style-position: inside;
}

.marketplace-container {
    text-align: center;
    padding: 20px;
    height: 100px;
}

.marketplace-icons {
    width: 50px;
}

.break-small {
    padding-left: 30%;
    padding-right: 30%;
}

.track-listing {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.ol-center {
    text-align: center;
    list-style-position:inside;
}

.bar-chart {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    max-width: 600px;
}

#percentage {
    color: #4cbd7e;
}

#percentage1 {
    color: #4cbd7e;
    font-size: 18px;
}

.profile-invested {
    font-size: 20px;
    color: #4d96ad;
}

.profile-earned {
    font-size: 20px;
    color: #4d96ad;
}

.roi {
    font-size: 20px;
    color: #4d96ad;
    text-transform: uppercase;
    font-family: Dosis;
    font-weight: 400;
}

 .tabs-title > a {
    padding: 5px;
    height: 100%;
    position: vertical-align;
 }

 .tab-icon {
    padding: 5px;
    color: #4d96ad;
 }

 .menu > li > a {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
 }

 a.nav-icon {
    padding: 0px;
 }

 li.home-logo {
    padding: 2px;
 }

.name {
    font-family: Dosis;
    font-size: 20px;
    text-transform: uppercase;
    color: #4d96ad;
}

.profile-container {
  width: 80%;
  margin: 15px auto;
}

#myChart {
    font-family: Dosis;
}

h2.nav-name {
    text-align: center;
    font-size: 18px;
    padding: 5px;
    margin: 0px;
}

.profile-stats {
    margin: 0 auto;
}

.login-item {
    padding: 10px;
}

.left-align {
    text-align: left
}

.signup-manual {
    background-color: #85929E;
    color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    font-weight: 400 !important;
}

#register-page {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: 80vh;
    }

.signup-form {
    margin-top: 10%;
}

.register-copy {
    color: #285e6f;
    padding: 20px;
    font-family: ;
}

.extra-padding-wide {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.contact-padding {
    padding: 40px;
    max-width: 700px;
    margin: 0 auto;
}

.top-bar-left {
    width: auto !important;
}

.top-bar-right {
    width: auto !important;
}

.title-bar {
    padding: 0px;
}

.small-nav-icon {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.small-home-logo {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.profile-name {
    color: #4d96ad;
    font-size: 16px !important;
    text-transform: uppercase;
}

.page {
    min-height: 80%;
}

.img-list {
    display: inline-block;
    height: 225px;
    width: 225px;
    margin: 10px;
    position: relative;
}

span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 225px;
    left: 0;
    position: absolute;
    top: 0;
    width: 225px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.img-list:hover span.text-content {
    opacity: 1;
}

.investor-download {
    font-size: 20px;
}
