{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
    <h2>{{ album.name }}</h2>
    <h4>BY {{ album.project.artist.name }}</h4>
    <div class="project-image">
        {% thumbnail album.artwork.img "500x500" crop="center" as thumb %}
            <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ album.name }}" />
        {% endthumbnail %}
    </div>

    <h4>LISTEN / PURCHASE</h4>
    <div class="center">
        {% for marketplace_url in album.marketplaceurl_set.all %}
            <a href="{{ marketplace_url.url }}" target="_blank">
                {% with "img/marketplace/"|add:marketplace_url.medium|add:".png" as medium_image %}
                    <img src="{% static medium_image %}" alt="{{ marketplace_url.get_medium_display }}" />
                {% endwith %}
            </a>
        {% endfor %}
    </div>
    <br />

    {% if user_is_investor %}
        <div class="download-container">
            <a class="download-button" href="{{ album.audio.get_temporary_url }}" download>
                Download
                <i class="fa fa-download" aria-hidden="true"></i>
            </a>
        </div>
    {% endif %}
{% endblock %}
