.leaderboard-padding {
    padding: 10px;
    width: 250px;
    background-color: #4A96AD;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
}

.leader-name {
    padding: 0px;
    margin: 0px;
    color: black;
    font-weight: 400;
}

.icons {
    text-align: center;
    margin: 20px;
    display: inline-block;
    float: center;
}
