{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load perdiem %}

{% block socialmeta %}
    <!-- Google+ data -->
    <meta itemprop="name" content="INVEST IN {{ artist.name|upper }} ON PERDIEM">
    <meta itemprop="description" content="PerDiem is a platform where you can invest in music. Earn money by discovering and supporting your favorite artists.">
    {% thumbnail artist.photo.img "506" as thumb %}
        <meta itemprop="image" content="{{ thumb.url }}">
    {% endthumbnail %}
    <!-- Twitter Card data -->
    {% if artist.social_twitter %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="{{ artist.social_twitter.username_twitter }}">
        <meta name="twitter:title" content="INVEST IN {{ artist.name|upper }} ON PERDIEM">
        <meta name="twitter:description" content="PerDiem is a platform where you can invest in music. Earn money by discovering and supporting your favorite artists.">
        <meta name="twitter:creator" content="{{ artist.social_twitter.username_twitter }}">
        {% thumbnail artist.photo.img "208" as thumb %}
            <meta name="twitter:image:src" content="{{ thumb.url }}">
        {% endthumbnail %}
    {% endif %}
    <!-- Open Graph data -->
    <meta property="og:title" content="INVEST IN {{ artist.name|upper }} ON PERDIEM" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ host }}{% url 'artist' slug=artist.slug %}" />
    {% thumbnail artist.photo.img "600" as thumb %}
        <meta property="og:image" content="{{ thumb.url }}" />
        <meta property="og:image:width" content="{{ thumb.width }}" />
        <meta property="og:image:height" content="{{ thumb.height }}" />
    {% endthumbnail %}
    <meta property="og:description" content="PerDiem is a platform where you can invest in music. Earn money by discovering and supporting your favorite artists." />
    <meta property="og:site_name" content="PERDIEM" />
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static "css/artist/countdown.css" %}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/artist/artist_detail.css" %}" type="text/css" charset="utf-8" />
    <style>
        {% include "artist/includes/artist_detail_countdown_style.html" with campaign=campaign %}
        {% for past_campaign in artist.past_campaigns %}
            {% include "artist/includes/artist_detail_countdown_style.html" with campaign=past_campaign %}
        {% endfor %}
    </style>
{% endblock %}

{% block content %}
    <h1 class="header-font">{{ artist.name }}</h1>
    {% if investors or artist.past_campaigns or updates or has_permission_to_submit_update %}
        <ul class="tabs" data-tabs id="artist-detail-tabs">
            <li class="tabs-title {% if not form.errors %}is-active{% endif %}"><a href="#overview" aria-selected="true">Overview</a></li>
            {% if investors %}
                <li class="tabs-title"><a href="#investors">Investors</a></li>
            {% endif %}
            {% if artist.past_campaigns %}
                <li class="tabs-title"><a href="#past">Past Campaigns</a></li>
            {% endif %}
            {% if updates or has_permission_to_submit_update %}
                <li class="tabs-title {% if form.errors %}is-active{% endif %}"><a href="#updates">Updates</a></li>
            {% endif %}
        </ul>
        <div class="tabs-content" data-tabs-content="artist-detail-tabs">
            {% include "artist/includes/artist_detail_overview.html" %}
            {% if investors %}
                {% include "artist/includes/artist_detail_investors.html" %}
            {% endif %}
            {% if artist.past_campaigns %}
                {% include "artist/includes/artist_detail_past.html" %}
            {% endif %}
            {% if updates or has_permission_to_submit_update %}
                {% include "artist/includes/artist_detail_updates.html" %}
            {% endif %}
        </div>
    {% else %}
        {% include "artist/includes/artist_detail_overview.html" %}
    {% endif %}
{% endblock %}

{% block extrajs %}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript" src="{% static "js/Chart.js" %}"></script>
    <script type="text/javascript">
        var perdiem_fee = {{ PERDIEM_FEE }};
        var stripe_percentage = {{ STRIPE_PERCENTAGE }};
        var stripe_flat_fee = {{ STRIPE_FLAT_FEE }};
        var artist_name = '{{ artist.name|escapejs }}';

        {% if campaign %}
            var doughnutData = [
                    {% if user_investor %}
                        {
                            value: {{ user_investor.percentage_display|floatformat:2 }},
                            color: "#000",
                            highlight: "#444",
                            {% if user_investor.percentage < 0.005 %}
                                label: "Me: <0.01%"
                            {% else %}
                                label: "Me: {{ user_investor.percentage|notrail_floatformat:2 }}%"
                            {% endif %}
                        },
                    {% endif %}
                    {
                        value: {{ fans_percentage_display|floatformat:2 }},
                        color: "#46BFBD",
                        highlight: "#5AD3D1",
                        label: "{% if user_investor %}Other Investors{% else %}Investors{% endif %}: {{ fans_percentage|notrail_floatformat:2 }}%"
                    },
                    {% for percentage_breakdown in campaign.project.artist_percentage %}
                        {
                            value: {{ percentage_breakdown.percentage|floatformat:2 }},
                            color: "{% if percentage_breakdown.name == campaign.artist.name %}#F7464A{% else %}{% cycle '#0066ff' '#ff99ff' '#33cc33' '#ff6600' '#00ffff' %}{% endif %}",
                            highlight: "{% if percentage_breakdown.name == campaign.artist.name %}#FF5A5E{% else %}{% cycle '#4d94ff' '#ffccff' '#85e085' '#ffa366' '#99ffff' %}{% endif %}",
                            label: "{{ percentage_breakdown.name|escapejs }}: {{ percentage_breakdown.percentage|notrail_floatformat:2 }}%"
                        }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ];

            function draw_doughnut_chart() {
                var ctxchart = document.getElementById("chart-area").getContext("2d");
                window.myDoughnut = new Chart(ctxchart).Doughnut(doughnutData, {
                    responsive: true,
                    tooltipTemplate: "<%= label %>"
                });
            }
            window.onload = function() {
                draw_doughnut_chart();
            }
            $('#artist-detail-tabs').on('change.zf.tabs', function() {
                if ($('#overview:visible').length) {
                    draw_doughnut_chart();
                }
            });

            var share_value = {{ campaign.value_per_share|escapejs }};
            var share_value_cents = {{ campaign.value_per_share_cents|escapejs }};
            var num_shares_remaining = {{ campaign.num_shares_remaining }};
            var stripe_handler = StripeCheckout.configure({
                key: '{{ PINAX_STRIPE_PUBLIC_KEY }}',
                locale: 'auto',
                email: '{{ request.user.email|escapejs }}',
                token: function(token) {
                    var num_shares = parseInt($('.invest-num-shares > input').val());
                    $.ajax({
                        url: "{% url 'pinax_stripe_charge' campaign_id=campaign.id %}?format=json",
                        type: 'POST',
                        data: JSON.stringify({card: token.id, num_shares: num_shares}),
                        contentType: 'application/json'
                    })
                    .done(function(resp) {
                        // Show success
                        $('#success-modal > h1').text('SUCCESS!');
                        var success_message = 'Your investment is being processed. When payment completes, your name will appear in the investor list.';
                        $('#success-modal > p.success-message').text(success_message);
                        $('#success-modal > .success-extra').html("<h4>Share this project</h4>{% filter escapejs %}{% include "artist/includes/share_buttons.html" %}{% endfilter %}");
                        $('#success-modal').foundation('open');
                    })
                    .fail(function(resp) {
                        // Show error
                        var error_message = 'There was an issue processing your payment.<br />' + resp.responseText;
                        $('#error-modal > p.error-message').html(error_message);
                        $('#error-modal').foundation('open');
                    });
                }
            });
        {% endif %}
    </script>
    <script type="text/javascript" src="{% static "js/artist/artist-detail.js" %}"></script>
{% endblock %}
