{% extends "base.html" %}

{% block content %}
    <h3 class="extra-padding">Artist Application</h3>
    <div class="break">
        <hr>
    </div>
        <p>Want to be on PerDiem? Apply here.</p>
        <div class="break">
            <hr>
        </div>
        <div class="large-form-input">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>
        </div>
{% endblock %}
