<div class="tabs-panel" id="investors">
    <h2>INVESTORS</h2>
    <ul class="menu vertical nested is-active">
        {% for investor in investors %}
            <li id="investor-block">
                {% if investor.public_profile_url %}
                    <a href="{{ investor.public_profile_url }}">
                        <img class="profile-crop-list" src="{{ investor.avatar_url }}" alt="{{ investor.name }}" />
                        <br/>{{ investor.name }}:
                    
                {% else %}
                    {{ investor.name }}
                {% endif %}
                ${{ investor.total_investment }}
                    </a>
            </li>
        {% endfor %}
    </ul>
</div>
