{% load staticfiles %}
{% load humanize %}
{% load perdiem %}

<div class="tabs-panel" id="investors">
    {% if user.is_authenticated %}
        <h3>Invest in {{ campaign.project.reason }}</h3>
        <div class="break">
            <hr>
        </div>

        {% include "artist/includes/invest.html" %}

    {% else %}
        <h4>To Invest in {{ artist.name }}</h4>
        {% include "artist/includes/auth_buttons.html" %}
    {% endif %}

    <div class="break">
        <hr>
    </div>

    <h4>CURRENT INVESTORS</h4>
    <ul class="menu vertical nested is-active">
        {% for investor in investors %}
            <li id="investor-block">
                {% if investor.public_profile_url %}
                    <a href="{{ investor.public_profile_url }}">
                    <img class="profile-crop-list" src="{{ investor.avatar_url }}" alt="{{ investor.name }}" />
                    <br/>{{ investor.name }}:
                {% else %}
                    {{ investor.name }}
                {% endif %}
                ${{ investor.total_investment }}
                {% if investor.public_profile_url %}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <script>
    var ca = {{ campaign.fans_percentage }};
    var fp = {{ campaign.amount|intcomma }};
    var sp = ca / fp * 100;
    $('#share-price').html(sp.toFixed(2) + ' %');
    </script>

    <script>
    var ca = {{ campaign.amount|intcomma }};
    var fp = {{ campaign.fans_percentage }};
    var va = ca / (fp/100);
    $('#valuation').html(va.toFixed(2);
    </script>
</div>
