{% load staticfiles %}
{% load humanize %}
{% load perdiem %}

    <div class="leaderboard">
        <h2>Artists</h2>
        <h4>Top earnings and investments</h4>
        <div class="break">
            <hr>
        </div>
        <canvas id="myChart"></canvas>
        <h2>Investors</h2>
        <h4>Top earners and investments</h4>
        <div class="break">
            <hr>
        </div>
        <canvas id="myChart2"></canvas>
    </div>

{% block extrajs %}
    <script type="text/javascript" src="{% static "js/vendor/Chart.min.js" %}"></script>

    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ["Artist 1", "Artist 2", "Artist 3", "Artist 4", "Artist 5"],
            datasets: [{
              label: 'Amount Raised',
              data: [12, 19, 3, 17, 28,]
          }, {
            label: 'Amount Earned',
            data: [19, 11, 31, 27, 25,]
          }]
          }
        });
        var ctx = document.getElementById("myChart2").getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ["Artist 1", "Artist 2", "Artist 3", "Artist 4", "Artist 5"],
            datasets: [{
              label: 'Amount Raised',
              data: [12, 19, 3, 17, 28,]
          }, {
            label: 'Amount Earned',
            data: [19, 11, 31, 27, 25,]
          }]
          }
        });
    </script>
{% endblock %}
