{% load staticfiles %}
{% load humanize %}
{% load perdiem %}

    <div class="leaderboard">
        <h2>Investors</h2>
        <h4>Top earnings and investments</h4>
        <div class="break">
            <hr>
        </div>
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
        <h2>Artists</h2>
        <h4>Top earnings and investments</h4>
        <div class="break">
            <hr>
        </div>
        <div class="chart-container">
            <canvas id="myChart2"></canvas>
        </div>
    </div>
