{% extends "base.html" %}

{% block content %}
    <h2 class="extra-padding">Artists Resources</h2>
    <div class="break">
        <hr>
    </div>
    <div class="row">
        <div class="columns small-12">
            <div class="columns small-2 float-left" data-sticky-container>
                <div class="sticky" data-sticky data-anchor="example1">
                    <Ul>
                        <!-- Overview -->
                        <ul class="vertical menu content-box" data-accordion-menu>
                            <li>
                                <a class="content-header" href="overview-nested">Overview</a>
                                <ul class="menu vertical nested">
                                    <li><p class="content-sub"><a href=#overview-1>What is PerDiem</a></p></li>
                                    <li><p class="content-sub"><a href=#overview-2>Why Investing</a></p></li>
                                    <li><p class="content-sub"><a href=#overview-3>Why Trust PerDiem</a></p></li>
                                    <li><p class="content-sub"><a href=#overview-4>How it Works</a></p></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Join -->
                        <ul class="vertical menu content-box" data-accordion-menu>
                            <li>
                                <a class="content-header" href="overview-nested">Join</a>
                                <ul class="menu vertical nested">
                                    <li><p class="content-sub"><a href=#join-1>Apply To PerDiem</a></p></li>
                                    <li><p class="content-sub"><a href=#join-2>Amount to Raise</a></p></li>
                                    <li><p class="content-sub"><a href=#join-3>Giving Back</a></p></li>
                                    <li><p class="content-sub"><a href=#join-4>Valuation</a></p></li>
                                    <li><p class="content-sub"><a href=#join-5>Timeframes</a></p></li>
                                    <li><p class="content-sub"><a href=#join-6>Who Gets What %</a></p></li>
                                    <li><p class="content-sub"><a href=#join-7>How To get Paid</a></p></li>
                                    <li><p class="content-sub"><a href=#join-7>Setup Profile</a></p></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Launch -->
                        <ul class="vertical menu content-box" data-accordion-menu>
                            <li>
                                <a class="content-header" href="overview-nested">Launch</a>
                                <ul class="menu vertical nested">
                                    <li><p class="content-sub"><a href=#launch-1>Updating Investors</a></p></li>
                                    <li><p class="content-sub"><a href=#launch-2>Sharing Campaign</a></p></li>
                                    <li><p class="content-sub"><a href=#launch-3>Social Media</a></p></li>
                                    <li><p class="content-sub"><a href=#launch-4>Blogs</a></p></li>
                                    <li><p class="content-sub"><a href=#launch-4>Un-Successful</a></p></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Success -->
                        <ul class="vertical menu content-box" data-accordion-menu>
                            <li>
                                <a class="content-header" href="overview-nested">Success</a>
                                <ul class="menu vertical nested">
                                    <li><p class="content-sub"><a href=#success-1>Once Funded</a></p></li>
                                    <li><p class="content-sub"><a href=#success-2>Recording music</a></p></li>
                                    <li><p class="content-sub"><a href=#success-3>Copyrights</a></p></li>
                                    <li><p class="content-sub"><a href=#success-4>Distribution</a></p></li>
                                    <li><p class="content-sub"><a href=#success-5>Project Information</a></p></li>
                                    <li><p class="content-sub"><a href=#success-6>Once project is live</a></p></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Next Steps -->
                        <ul class="vertical menu content-box" data-accordion-menu>
                            <li>
                                <a class="content-header" href="overview-nested">Next Steps</a>
                                <ul class="menu vertical nested">
                                    <li><p class="content-sub"><a href=#next-1>Engaging Investors</a></p></li>
                                    <li><p class="content-sub"><a href=#next-2>Raising More</a></p></li>
                                    <li><p class="content-sub"><a href=#next-3>Another Campaign</a></p></li>
                                    <li><p class="content-sub"><a href=#next-4>Helping others</a></p></li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="columns small-9 float-right" id="example1" data-something>
                <div id="overview">
                    <h3>overview</h3>
                    <div class="break">
                        <hr>
                    </div>
                    <div id="overview-1">
                        <h4>What is PerDiem?</h4>
                        <p>
                            A platform where you can raise money for your music projects by having fans and people invest in your music. 
                        </p>
                    </div>
                    <div id="overview-2">
                        <h4>Why should I let my fans invest in my music?</h4>
                        <p>
                            The same reason that most businesses allow people to invest in them. When you give a percentage to investors, this creates an incentive for them to fund your project. This also gives them an incentive to make your project successful. The more money you earn, the more they can earn. It's a win-win for everyone. 
                        </p>
                    </div>
                    <div id="overview-3">
                        <h4>Why Should I trust PerDiem?</h4>
                        <p>
                            PerDiem is built on trust and integrity. We rely on our relationship with the creative community to operate. This means we must always act in the best interest of artists. 
                        </p>
                    </div>
                    <div id="overview-4">
                        <h4>How does it all work?</h4>
                        <p>
                            Artists on PerDiem set up a project they need to raise money for. Fans then buy shares in that project to get a percentage back from what it makes. The more the music sells, the more revenue is generated, and everyone wins!
                        </p>
                    </div>
                </div>
                <div id="join">
                    <h3>Join</h3>
                    <div class="break">
                        <hr>
                    </div>
                    <div id="join-1">
                        <h4>Applying for PerDiem</h4>
                        <p>
                            Before applying for PerDiem, you should read (resources) to get a better understanding of how the music industry works. If you are a veteran and fully understand the music industry. Then go ahead and apply. 
                        </p>
                    </div>
                    <div id="join-2">
                        <h4>Amount to raise</h4>
                        <p>
                            You need to find out exactly how much you need to raise to create your project. Make sure you discuss all of the costs with your band members, producer, studio, etc… Some unknown costs can come up that are not expected. This can include mixing and master, extra recording time, sample clearance, etc.. We also recommend talking with a music attorney to make sure you are following all of the proper tax guidelines that go along with creating and selling music. 
                        </p>
                    </div>
                    <div id="join-3">
                        <h4>How much to give back</h4>
                        <p>
                            This can be determined by several factory; how big of an artist you are, how much you are trying to raise, and how engaged of an audience you have. If you are a  smaller artist with a small fan base, you might want to give back a bigger percentage to attract more investors. If you are a larger artists with a very engaged fans base you can give back less of a percentage if you anticipate to sell a lot more records.  It's always better to have a smaller percentage of a big pie than to have a big percentage of a small pie. 
                        </p>
                    </div>
                    <div id="join-4">
                        <h4>Return on investment</h4>
                        <p>
                            ROI is the best way to determine how much to give back. This is the most important number an investor will look at when determining if your project is a good investment. Valuation is essentially basically the break-even point for your music project. It determines how much your project would need to sell for the investor to make their money back. This can be calculated by dividing the amount raising by the percentage given back to investors (total raising / % given back). If your valuation is too high, you can either raise less money or give a bigger percentage back. You want your valuation to be as low as possible so that investors have the best chance at making a return on their investment. 
                        </p>
                    </div>
                    <div id="join-5">
                        <h4>Timeframe</h4>
                        <p>
                            In order to raise funds on PerDiem you need to have a start and end date for your campaign. This can be between 40-90 days. We encourage to have a shorter deadline as 40 day campaigns have a much higher chance at getting funded than 90 day campaigns. This is because it makes the campaign time-sensitive and encourages people to invest sooner than later. Most funding occurs in the first and last few days of a campaign so the more you are able to promote in a shorter period of time, the more likely you are to have a successful campaign. 
                        </p>
                    </div>
                    <div id="join-6">
                        <h4>Who gets what %</h4>
                        <p>
                            When you are in a band or working with producers, there can be a chance that multiple people get a different percentage of the music project. If you are splitting the earnings with other band members, then you need to figure this split before you start recording the music project. If you are giving a percentage to the producer or engineer making the album, this needs to be figured out beforehand as well. If you worked out a deal with a manager, attorney, or anyone else involved with the music project, you'll need to figure these out as well. You can add someone on at any point during the project, just remember their percentage will come out of the artists total percentage and it's always best to do this early on to avoid any complications down the road. Also note, these are ONLY royalties derived from revenue your music generates online through digital streaming and downloads. 
                        </p>
                    </div>
                    <div id="join-7">
                        <h4>How to get paid</h4>
                        <p>
                            You will need to setup a PayPal account to receive funds from your music. Each member that is getting royalties from this project will need to have a PayPal account. It is recommended that you use the same e-mail associated with your PerDiem profile. We will deliver these funds into your account each week when we receive them from the distributor.
                        </p>
                    </div>
                    <div id="join-8">
                        <h4>Setting up your profile</h4>
                        <p>
                            The more compelling your profile is, the more likely people are to invest in your. The majority of people invest in artists based on their vision and passion for the music they want to create, more than how much they think it will earn. This is why setting up your profile can be the most important part of getting your music funded and potentially make or break your campaign. We highly recommend recording a video of you or your band introducing yourself and telling your fans a brief story about yourself, what you are raising money for on PerDiem, and the barriers that you face in bringing this music to life. 
                        </p>
                    </div>
                </div>
                <div id="launch">
                    <h3>Launching Campaign</h3>
                    <div class="break">
                        <hr>
                    </div>
                    <div id="launch-1">
                        <h4>Keeping your investors updated</h4>
                        <p>
                            It's really important that you post updates and keep your fans and investors engaged with your campaign and progress along the way. It's really easy to post a quick photo or update with updates on your project. These small updates can really go a long way for building an engaged and passionate fan base. The more you update them, the more they will be able to help share your music and spread the word about what you are up to. 
                        </p>
                    </div>
                    <div id="launch-2">
                        <h4>Sharing with friends and family</h4>
                        <p>
                            People are really compelled by momentum, so if people see there are people investing and engaging with your campaign, it's more likely for others to follow. This makes it really important to start of on a strong foundation. A great way to launch a campaign is to let your friends and family be the first people to know and encourage them to be the first to invest in your campaign. This gives them an exclusive opportunity to be part of your project, and when you start sharing the campaign publicly there is already some traction and momentum happening on your profile. 
                        </p>
                    </div>
                    <div id="launch-3">
                        <h4>Sharing on social media</h4>
                        <p>
                            The best way to drive people to your campaign is to share the direct link with them through social media. Your profile page is public so anyone can see it. It's really important to share why you are giving your fans a chance to invest in your next music project and to always keep the messaging personal and from your own voice. 
                        </p>
                    </div>
                    <div id="launch-4">
                        <h4>Sharing with blogs and media</h4>
                        <p>
                            Media and blogs can be a huge resource for attracting investors to your campaign and gaining new fans. A great option is to find a publicist or work with a PR company to promote your project if you don't have one already. 
                        </p>
                    </div>
                    <div id="launch-5">
                        <h4>Campaign doesn't hit goal</h4>
                        <p>
                            If your campaign doesn't hit it's goal. We will refund all of the investors their money. We can't guarantee that every project will be a success. On average, only 5 our of 10 crowdsourcing campaigns hit their goal. If your campaign doesn't hit it's goal, you can always launch another campaign. It's best to evaluate your previous campaign and understand why it was not a success. You can reach out to friends and investors and ask them for feedback to have a better chance at launching a successful campaign next time. The likely reasons that we see for un-successful campaigns are: too nigh valuation (raising too much money and giving too small of a percentage back), not a compelling enough story or campaign, not promoting hard enough.
                        </p>
                    </div>
                </div>
                <div id="success">
                    <h3>Campaign Success</h3>
                    <div class="break">
                        <hr>
                    </div>
                    <div id="success-1">
                        <h4>Next steps once funded</h4>
                        <p>
                            Once your campaign hits it's goal, we will send you 100% of the money that you raised. It's your responsibility to make sure that all of the funds are appropriately used in the way you say they are going to be. Maintaining this trust and accountability with your fans is essential for the long-term success of your music project. 
                        </p>
                    </div>
                    <div id="success-2">
                        <h4>Record your music</h4>
                        <p>
                            This is the big moment! You get to record the music that YOU want. Remember, these people invested in YOUR vision and this project is YOUR form of art. There is no promise of a return for the investors and you don't have to pay this money back. While generating revenue is an important part in creating a sustainable career as an artist, the best way to generate revenue is to create music that people love and want to support. We encourage you to make the music that your fans are going to enjoy and that is the vision that you set out to create when you launched the campaign. 
                        </p>
                    </div>
                    <div id="success-3">
                        <h4>Copyright</h4>
                        <p>
                            Make sure when you record your music you have clearance for all of the rights to your music. We are not responsible for any copyright infringement by artists so if your music infringes on anyone else. If it gets flagged it may be removed and you could be liable for re-paying all of the revenue generated from your music to the copyright holder. When working with samples and producers, it's very important to make sure that you have the rights to all of your music. 
                        </p>
                    </div>
                    <div id="success-4">
                        <h4>Distributing the music</h4>
                        <p>
                            In order to protect the investors and make sure all of the licensing and accounting is done correctly, we distribute all of the music funded through PerDiem. This is an important piece because it is the only way that we can accurately track and distribute the funds generated from the project. By distributing the music, the artist can focus 100% on making music and we take care of all the complicated parts of managing, tracking, and distributing funds. This also allows us to build trust with the investors as they don't have to worry about the artists maintaining all of the accounting and gives them security in knowing everything will be done properly.  Rest assured, you always own 100% of your rights to the music and can leave the platform at anytime. So once your music is complete, all you need to do is send us the masters and we will take care of everything. 
                        </p>
                    </div>
                    <div id="success-5">
                        <h4>Project information</h4>
                        <p>
                            When you send us the music, we will need to know the following: 
                            <br/>Artist Name
                            <br/>Album Artwork
                            <br/>Song Titles (with any featured artists)
                            <br/>Release Date
                            <br/>Release platforms (itunes, spotify, etc..), Release locations
                            <br/>Split % for all of the people involved (plus Paypal)
                        </p>
                    </div>
                    <div id="success-6">
                        <h4>Once the project is live</h4>
                        <p>
                            We will send you the links to all of the channels that is released through. You can track the progress of it through your project page on the PerDiem site. 
                        </p>
                    </div>
                </div>
                <div id="next">
                    <h3>Next Steps</h3>
                    <div class="break">
                        <hr>
                    </div>
                    <div id="next-1">
                    <h4>Keeping your investors engaged</h4>
                        <p>
                            It's important to keep your investors engaged throughout the life of the project. These are your most loyal fans and can play a significant role in the success of your career. If you keep them up to date and engaged with content and happenings in your career, they are going to share and promote your music in the best way possible, word of mouth. 
                        </p>
                    </div>
                    <div id="next-2">
                        <h4>Raising more money</h4>
                        <p>
                            You can raise additional funds for your project by simply issuing more shares to investors. If you need funds to promote your record by going on tour, recording a music video, creating promo material - all of these things can be funded by issuing more shares from your project. Note that any additional funds raised though PerDiem will be taken from the artist percentage and so that no shares from previous investors are diluted. Make sure that if you plan to raise additional funds that you plan for it in advance. You can also issue more shares at a higher price than your initial funding round. For example: if you sold 1000 shares at $1 for 10%, you would get $1000; if you sold 1000 shares at $2 for 10%, you would get $2000 for issuing the same percentage as before. 
                        </p>
                    </div>
                    <div id="next-3">
                        <h4>Starting another campaign</h4>
                        <p>
                            So your first campaign was a success and you want to record another project. It's easy to add another camping. All you need to do is updated your profile and add another campaign to your profile. All of your past campaigns will be listed under your "past campaigns" tab on your profile.
                        </p>
                    </div>
                    <div id="next-4">
                        <h4>Helping other artists get funded</h4>
                        <p>
                            We are creating a new way for artists to get funding for their music while keeping creative control and making music a sustainable career choice for everyone.  We encourage artists that have been able to create their music using PerDiem to help other artists as well. Together, we can create a community of creators that are all helping to push each other and create a better and more sustainable world for everyone. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
