{% extends "base.html" %}

{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/extra/resources.css" %}" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    <h2 class="extra-padding">PerDiem Explained</h2>
    <div class="break">
        <hr>
    </div>
    <div class="row resource-float">
        <div class="columns small-12">
            <div class="columns small-2 float-left" data-sticky-container>
                <div class="sticky" data-sticky data-anchor="example1">
                    <Ul>
                        <!-- Overview -->
                        <ul class="vertical menu content-box" data-accordion-menu>
                            <li>
                                <a class="content-header" href="overview-nested">Overview</a>
                                <ul class="menu vertical nested">
                                    <li><p class="content-sub"><a href="#overview-1">What is PerDiem</a></p></li>
                                    <li><p class="content-sub"><a href="#overview-2">Why Investing</a></p></li>
                                    <li><p class="content-sub"><a href="#overview-3">How It Works</a></p></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Join -->
                        <ul class="vertical menu content-box" data-accordion-menu>
                            <li>
                                <a class="content-header" href="overview-nested">Join</a>
                                <ul class="menu vertical nested">
                                    <li><p class="content-sub"><a href="#join-1">Apply To PerDiem</a></p></li>
                                    <li><p class="content-sub"><a href="#join-2">Amount to Raise</a></p></li>
                                    <li><p class="content-sub"><a href="#join-3">Giving Back</a></p></li>
                                    <li><p class="content-sub"><a href="#join-4">Valuation</a></p></li>
                                    <li><p class="content-sub"><a href="#join-5">Timeframes</a></p></li>
                                    <li><p class="content-sub"><a href="#join-6">Who Gets What %</a></p></li>
                                    <li><p class="content-sub"><a href="#join-7">How To get Paid</a></p></li>
                                    <li><p class="content-sub"><a href="#join-7">Setup Profile</a></p></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Launch -->
                        <ul class="vertical menu content-box" data-accordion-menu>
                            <li>
                                <a class="content-header" href="overview-nested">Launch</a>
                                <ul class="menu vertical nested">
                                    <li><p class="content-sub"><a href="#launch-1">Updating Investors</a></p></li>
                                    <li><p class="content-sub"><a href="#launch-2">Sharing Campaign</a></p></li>
                                    <li><p class="content-sub"><a href="#launch-3">Social Media</a></p></li>
                                    <li><p class="content-sub"><a href="#launch-4">Blogs</a></p></li>
                                    <li><p class="content-sub"><a href="#launch-4">Un-Successful</a></p></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Success -->
                        <ul class="vertical menu content-box" data-accordion-menu>
                            <li>
                                <a class="content-header" href="overview-nested">Success</a>
                                <ul class="menu vertical nested">
                                    <li><p class="content-sub"><a href="#success-1">Once Funded</a></p></li>
                                    <li><p class="content-sub"><a href="#success-2">Recording music</a></p></li>
                                    <li><p class="content-sub"><a href="#success-3">Copyrights</a></p></li>
                                    <li><p class="content-sub"><a href="#success-4">Distribution</a></p></li>
                                    <li><p class="content-sub"><a href="#success-5">Project Information</a></p></li>
                                    <li><p class="content-sub"><a href="#success-6">Once project is live</a></p></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Next Steps -->
                        <ul class="vertical menu content-box" data-accordion-menu>
                            <li>
                                <a class="content-header" href="overview-nested">Next Steps</a>
                                <ul class="menu vertical nested">
                                    <li><p class="content-sub"><a href="#next-1">Engaging Investors</a></p></li>
                                    <li><p class="content-sub"><a href="#next-2">Raising More</a></p></li>
                                    <li><p class="content-sub"><a href="#next-3">Another Project</a></p></li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="columns small-9 float-right" id="example1">
                <div id="overview">
                    <h3>overview</h3>
                    <div class="break">
                        <hr>
                    </div>
                    <div id="overview-1">
                        <h4>What is PerDiem?</h4>
                        <p>
                            A platform where Artists can raise money by having people invest in their music.
                        </p>
                    </div>
                    <div id="overview-2">
                        <h4>Why should Artists let fans invest in their music?</h4>
                        <p>
                            The same reason that most businesses allow people to invest in them.
                            When you give a percentage to investors, this creates an incentive for them to fund and promote the project.
                            The more money you earn, the more they earn. It's a win-win for everyone.
                        </p>
                    </div>
                    <div id="overview-3">
                        <h4>How does it all work?</h4>
                        <p>
                            Artists set up a project they want to raise money for.
                            They decide the amount of money to raise and an percentage to give to investors.
                            People then can buy shares in this project.
                            When the project earns money those investors will get a return based on the amount of shares they purchased.
                        </p>
                    </div>
                </div>
                <div id="join">
                    <h3>Join</h3>
                    <div class="break">
                        <hr>
                    </div>
                    <div id="join-1">
                        <h4>Applying for PerDiem</h4>
                        <p>
                            You can apply for perdiem <a href="{% url 'artist_application' %}">here</a>.
                            It's good to read over all of the resources before applying to better understand how it all works.
                        </p>
                    </div>
                    <div id="join-2">
                        <h4>Amount to raise</h4>
                        <p>
                            You need to find out exactly how much you need to raise to bring your project to life.
                            Make sure you discuss all of the costs with your band members, producer, studio, etc…
                            Some unknown costs can come up that are not expected. This can include mixing and mastering, extra recording time, etc..
                            We also recommend talking with a music attorney to make sure you are following all of the proper tax guidelines that go along with creating and selling music.
                        </p>
                    </div>
                    <div id="join-3">
                        <h4>How much to give back</h4>
                        <p>
                            This can be determined by several factors; how big of an artist you are, how much you are trying to raise, and how engaged of an audience you have.
                            If you are a  smaller artist with a small fan base, you might want to raise a smaller amount and give back a bigger percentage.
                            If you are a larger artists with a very engaged fans base you can raise more and give back less.
                        </p>
                    </div>
                    <div id="join-4">
                        <h4>Return on investment</h4>
                        <p>
                            Return on investment is one of the most important parts of a campaign.
                            A great way to determine the potential return on investment (or "ROI") is to figure out the project valuation.
                            The valuation is essentailly the break even point for your project (the amount you need to earn for everyone to make their money back).
                            You can calculate the valuation by dividing the amount raising by the percentage given back to investors (total raising / % given back).
                            If your valuation is too high, you can either raise less money or give a bigger percentage back.
                            We reccomend your valuation to be as low as possible so that investors have the best chance at making a return on their investment.
                        </p>
                    </div>
                    <div id="join-5">
                        <h4>Timeframe</h4>
                        <p>
                            All projects have a 30 day campaign deadline.
                            If you are unable to raise the total amount in that timeframe, investors will be refunded their money.
                        </p>
                    </div>
                    <div id="join-6">
                        <h4>Who gets what %</h4>
                        <p>
                            When you are in a band or working with producers, there can be a chance that multiple people get a different percentage of the music project.
                            If you are splitting the earnings with other band members, then you need to figure this split before you start recording the music project.
                            If you are giving a percentage to the producer or engineer making the album, this also needs to be figured out beforehand.
                            If you worked out a deal with a manager, attorney, or anyone else involved with the music project, you'll need to figure these out as well.
                            You can add someone on at any point during the project, just remember their percentage will come out of the artists total percentage and it's always best to do this early on to avoid any complications down the road.
                        </p>
                    </div>
                    <div id="join-7">
                        <h4>How to get paid</h4>
                        <p>
                            You will need to setup a PayPal account to receive funds from your music.
                            Each member that is getting royalties from this project will need to have a PayPal account.
                            It is recommended that you use the same e-mail associated with your PerDiem profile.
                        </p>
                    </div>
                    <div id="join-8">
                        <h4>Setting up your profile</h4>
                        <p>
                            The more compelling your profile is, the more likely people are to invest.
                            The majority of people invest in artists based on their vision and passion for the music they want to create, more than how much they think it will earn.
                            This is why setting up your profile can be the most important part of getting your music funded and potentially make or break your campaign.
                        </p>
                    </div>
                </div>
                <div id="launch">
                    <h3>Launching Campaign</h3>
                    <div class="break">
                        <hr>
                    </div>
                    <div id="launch-1">
                        <h4>Keeping your investors updated</h4>
                        <p>
                            It's really important that you post updates and keep your fans and investors engaged with your campaign and progress along the way.
                            It's very easy to post a quick photo or update with updates on your project.
                            These small updates can go a long way for building an engaged and passionate fan base.
                            The more you update them, the more they will want to help share and support your music.
                        </p>
                    </div>
                    <div id="launch-2">
                        <h4>Sharing with friends and family</h4>
                        <p>
                            People are really compelled by momentum, so if people see there are people investing and engaging with your campaign, it's more likely for others to follow.
                            This makes it really important to start of on a strong foundation.
                            A great way to launch a campaign is to let your friends and family be the first people to know and encourage them to be the first to invest in your campaign.
                            This gives them an exclusive opportunity to be part of your project, and when you start sharing the campaign publicly there is already some momentum happening on your profile.
                        </p>
                    </div>
                    <div id="launch-3">
                        <h4>Sharing on social media</h4>
                        <p>
                            A great way to drive people to your campaign is to share the direct link with them through social media.
                            Your profile page is public so anyone can see it.
                            It's really important to share why you are giving your fans a chance to invest in your next music project and to always keep the messaging personal and from your own voice.
                        </p>
                    </div>
                    <div id="launch-4">
                        <h4>Sharing with blogs and media</h4>
                        <p>
                            Media and blogs can be a huge resource for attracting investors to your campaign and gaining new fans.
                            A great option is to find a publicist or work with a PR company to promote your project if you don't have one already.
                        </p>
                    </div>
                    <div id="launch-5">
                        <h4>Campaign doesn't hit goal</h4>
                        <p>
                            If your campaign doesn't hit it's goal, all investors will be refunded their money.
                            We can't guarantee that every project will be a success.
                            If your campaign doesn't hit it's goal, you can always launch another campaign.
                            However, it's best to evaluate your previous campaign and understand why it was not a success.
                            You can reach out to friends and past investors to ask them for feedback on how to have a better chance at launching a successful campaign next time.
                            A few reasons that we see un-successful campaigns are: too nigh valuation (raising too much money and giving too small of a percentage back), not a compelling enough story or campaign, not promoting enough.
                        </p>
                    </div>
                </div>
                <div id="success">
                    <h3>Campaign Success</h3>
                    <div class="break">
                        <hr>
                    </div>
                    <div id="success-1">
                        <h4>Next steps once funded</h4>
                        <p>
                            Once your campaign hits it's goal, we will send you 100% of the money that you raised.
                            It's your responsibility to make sure that all of the funds are appropriately used in the way you say they are going to be.
                            Maintaining this trust and accountability with your fans is essential for the long-term success of your music.
                        </p>
                    </div>
                    <div id="success-2">
                        <h4>Record your music</h4>
                        <p>
                            Finally, you get to hit the studio and record your music (unless it's already done).
                            Remember, everyone is investing in your vision and this project is your expression of art.
                            We encourage you to make the music that your fans are going to enjoy and that is the vision that you set out to create when you launched the campaign.
                            The best way to generate revenue is by creating music that people are going to love and want to support.
                        </p>
                    </div>
                    <div id="success-3">
                        <h4>Copyright</h4>
                        <p>
                            It's essential that when you record your music you have clearance for all of the rights to it.
                            We are not responsible for any copyright infringement by artists so if the music infringes on anyone else.
                            If it gets flagged it may be removed and you could be liable for re-paying all of the revenue generated from your music to the copyright holder.
                            When working with samples and producers, it's very important to make sure that you have everything cleared.
                        </p>
                    </div>
                    <div id="success-4">
                        <h4>Distributing the music</h4>
                        <p>
                            In order to protect the investors and make sure all of the licensing and registration is done correctly and we distribute all of the music internally through PerDiem.
                            This is an important piece because it is the only way that we can accurately track and distribute the funds generated from the project.
                            By distributing the music, the artist can focus 100% on making music and we take care of all the complicated parts of managing, tracking, and distributing funds.
                            This also allows us to build trust with the investors as they don't have to worry about the artists maintaining all of the accounting and gives them security in knowing everything will be done properly.
                            We believe that transparency, trust, and integrity are essential to creating a better world for music.
                        </p>
                    </div>
                    <div id="success-5">
                        <h4>Project information</h4>
                        <p>
                            In order to distribute the music properly, we will need a good amount of information. We will send you a form to fill out that includes everything needed.
                        </p>
                    </div>
                    <div id="success-6">
                        <h4>Once the project is live</h4>
                        <p>
                            You will be able to see the links to all of the music channels (iTunes, Spotify, Google Play, etc..) on the music page.
                            You can track the progress and how much the project is earning through your profile page.
                        </p>
                    </div>
                </div>
                <div id="next">
                    <h3>Next Steps</h3>
                    <div class="break">
                        <hr>
                    </div>
                    <div id="next-1">
                    <h4>Keeping your investors engaged</h4>
                        <p>
                            It's important to keep your investors engaged throughout the life of the project.
                            These are your most loyal fans and can play a significant role in the success of your career.
                            If you keep them up to date and engaged with everything that is happening in your career, they are going a lot more likely to share and promote your music.
                        </p>
                    </div>
                    <div id="next-2">
                        <h4>Raising more money</h4>
                        <p>
                            You can raise additional funds for your project by starting another campaign and issuing more shares to investors.
                            If you need additional funds to promote your record by going on tour, recording a music video, creating promo material - all of these things can be funded by raising another round of investments.
                            Note that any additional funds raised though PerDiem will be taken from the artist percentage and so that no shares from previous investors are diluted.
                            Make sure that if you plan to raise additional funds that you plan for it in advance.
                        </p>
                    </div>
                    <div id="next-3">
                        <h4>Starting another project</h4>
                        <p>
                            Artists can raise money for multiple projects.
                            Lets say the first EP was a success and an Artist wants to record a full length album.
                            They can simply start a entirely new project and start raising money.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
