{% extends "base.html" %}
{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/home.css" %}" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    <div id="home-page" class="home-page">
        {% if user.is_authenticated %}
            <style>
            #home-page {
                position: relative;
                background-size: 50%;
                background-repeat: no-repeat;
                background-position: 50%;
                background-color: black;
            }
            </style>
            <h2 class="name-header white-color">Welcome, {% firstof user.get_full_name user.get_username %}</h2>
            <h2> latest happenings </h2>
        {% else %}
            <div class="footer-position">
                <a data-open="login-modal"><h2>LOGIN</h2></a>
            </div>
            <style>
            #home-page {
                position: relative;
                background-image: url("{% static "img/perdiem-home.svg" %}");
                background-size: 80% 50%;
                background-repeat: no-repeat;
                background-position: 50% 30%;
                background-color: black;
            }
            </style>
        {% endif %}
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static "js/vendor/smooth-scroll.js" %}"></script>
{% endblock %}
