{% extends "base.html" %}
{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/home.css" %}" type="text/css" charset="utf-8" />
    <style>
        #home-page {
            background-image: url("{% static "img/perdiem.jpg" %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-color: black;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="home-page" class="page">
        <div class="heading-center"></div>
        <h1 class="home-title">PERDIEM</h1>
        <h2 class="home-description">THE NEXT GENERATION OF MUSIC</h2>
        {% if user.is_authenticated %}
            <div class="home-boxes">
                <a class="button text-center box-margin view-artists-box" href={% url 'artists' %}>VIEW ARTISTS</a>
            </div>
        {% else %}
            <div class="home-boxes">
                <a class="button text-center box-margin" href="{% url 'register' %}?next={{ request.get_full_path }}">SIGN UP</a>
                <a class="button text-center box-margin" data-open="login-modal">LOGIN</a>
            </div>
        {% endif %}
        <div class="bottom-how">
            <h5><a class="white-color" href={% url 'home' %}#how>HOW IT WORKS<br/>
            <i class="fa fa-chevron-down fa-1x" aria-hidden="true"></i></a></h5>
        </div>
    </div>
    <!-- How it works for fans -->
    <div id="how-page" class="page">
        <a id="how" class="smooth"></a>
        
        <h3 class="how-title">HOW IT WORKS FOR FANS</h3>
        <div class="center">
            <img id="artist-image" src="{% static "img/fans.png" %}">
        </div>
        <div class="center">
            <div class="icons">
                <i class="fa fa-search fa-4x icon-padding" aria-hidden="true"></i>
                <h3>DISCOVER</h3>
                <p class="how-extra">DISCOVER AN ARTIST THAT YOU WANT TO SUPPORT</p>
            </div>
            <div class="icons">
                <i class="fa fa-money fa-4x icon-padding" aria-hidden="true"></i>
                <h3>BUY</h3>
                <p class="how-extra">BUY SHARES IN AN ARTIST'S PROJECT</p>
            </div>
            <div class="icons">
                <i class="fa fa-dollar fa-4x icon-padding" aria-hidden="true"></i>
                <h3>EARN</h3>
                <p class="how-extra">EARN MONEY BASED ON HOW SUCCESSFUL THE PROJECT IS</p>
            </div>
        </div>
    <!-- How it works for artists -->
        <div class="break">
            <hr>
        </div>
        <h3 class="how-title">HOW IT WORKS FOR ARTISTS</h3>
        <div class="center">
            <img id="artist-image" src="{% static "img/artist.png" %}">
        </div>
        <div class="center">
            <div class="icons">
                <i class="fa fa-music fa-4x icon-padding" aria-hidden="true"></i>
                <h3>RAISE</h3>
                <p class="how-extra">RAISE MONEY TO CREATE YOUR MUSIC BY HAVING FANS INVEST IN YOUR PROJECT</p>
            </div>
            <div class="icons">
                <i class="fa fa-percent fa-4x icon-padding" aria-hidden="true"></i>
                <h3>GIVE</h3>
                <p class="how-extra">GIVE A PERCENTAGE OF SALES BACK TO PEOPLE WHO INVEST IN YOUR MUSIC PROJECT</p>
            </div>
            <div class="icons">
                <i class="fa fa-dollar fa-4x icon-padding" aria-hidden="true"></i>
                <h3>EARN</h3>
                <p class="how-extra">BUILD A TEAM OF PEOPLE ALL PUSHING FOR YOUR SUCCESS</p>
            </div>
        </div>

        <div class="break">
            <hr>
        </div>
        <br/>
        <h4>WANT TO LEARN EVEN MORE?</h4>
        <h5>CHECK OUT <a href="{% url 'faq' %}">OUR FAQ</a> AND <a href="{% url 'trust' %}">TRUST &amp; SAFETY</a></h5>
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static "js/vendor/smooth-scroll.js" %}"></script>
{% endblock %}
