{% load humanize %}

<div class="investments">
    <h2>Portfolio</h2>
    <p>Here are the artists that you have invested in:</p>
    {% include "artist/includes/investor_profile_artist_list.html" with artists=artists %}
    <div class="break">
        <hr>
    </div>
    <h5 class="profile-total-header">TOTAL EARNED:</h5>
    {% if total_earned %}
        <h5 class="profile-total">${{ total_earned|floatformat:2|intcomma }}</h5>
    {% else %}
        <p class="profile-total">Your money is going toward creating some amazing music!
            <br/>It usually takes a few weeks from the time the music is finished to when revenue is reported...
        </p>
    {% endif %}
    <h5 class="profile-total-header">TOTAL INVESTED:</h5>
    <h5 class="profile-total">${{ total_investments|floatformat:2|intcomma }}</h5>
</div>
